* {

    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

body {
    height: 200vh;
}



/************** utilty classes ****************/

.flex {
    display: flex;
}

.juscen {
    justify-content: center;
}

.flexColumn {
    flex-direction: column;
}

.flexrow {
    flex-direction: row;
}

.alignCenter {

    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* *************utilty classes ***************8*/


.top {
    width: 100vw;
    height: fit-content;
    /* border: 2px solid  rgb(194, 81, 81); */
    background-color: rgba(0, 0, 0, 0.318);
   /* filter: saturate(2); */
    /* border-bottom: 2px solid blue; */
    color: aliceblue;
    top: 0px;
    position: fixed !important;
    z-index: 5;
    
}

.top::after{
    content: "";
    position: absolute;
   /* background-color: rgb(21, 22, 22,.5); */
    width: 100vw;
    height: 8.1rem;
    z-index: -1;
    top: 0px;
    backdrop-filter: blur(20px);
}

.logo {
    margin-right: 30px;
    
}

.logo img {
    padding: 5px 0px;
    height: 110px;
    margin-left: .5rem;
  

}

.title {
    /* border: 2px  solid orange; */
    /* background-color: rgb(46, 161, 255); */
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90vw;
    padding: 10px 0px;
    
}

.title h1 {
    text-transform: uppercase;
}

.title h1,
h2 {

    word-spacing: 5px;
    padding: 6px 0px;

}

.bg img {
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    height: 40rem;
    

}

nav {

    background-color: rgb(38, 157, 255);
    height: fit-content;
    /* height: 100%; */
    /* min-height: 55px; */
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 18px 25px;
    /* border: 1px  solid rgb(255, 255, 255); */
    transition: .5s;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav a:hover {
    cursor: pointer;
    transition: .6s;
    background-color: rgb(247, 242, 242);
    color: rgb(0, 0, 0);
    box-shadow: inset 1px 1px 10px rgb(173, 172, 172);
}



/**************** Dropdown-Nav ***************/

.dropdown-menu {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-content a {
    all: unset;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding: 12px 10px;
    font-size: 15px;
    transition: .5s;
    border-bottom: 1px solid rgb(218, 218, 224);
    /* border: 1px solid red; */
}

.dropdown-content a:hover {
    cursor: pointer;
    background-color: rgb(74, 228, 95);
    border-radius: 5%;

}

.dropdown-content {
    clear: both;
    position: absolute;
    /* background-color: rgb(235, 230, 230); */
    background-color: aliceblue;
    clear: both;
    min-width: 150px;
    top: -150px;
    border: none;
    border-radius: 5%;
    height: fit-content;
    box-shadow: 1px 1px 10px rgb(184, 183, 183,.8);
    display: none;


}


.dropdown-menu:hover .dropdown-content {
    display: block;
    animation: dropdown;
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: 1;


}


@keyframes dropdown {
    0% {
        z-index: -1;
        top: -150px;
        background-color: aliceblue;
        opacity: 0;
    }

    99% {
        z-index: 0;
        opacity: .4;
    }

    100% {
        top: 36px;
        z-index: 1;
        opacity: 1;

    }

}



/* ***************Content area***************** */
.content {
    margin: 10px auto;
    /* border: 2px solid black; */
    /* box-shadow: 2px 2px 10px gray ; */
    height: fit-content;

    max-width: 99vw;
    height: fit-content;

}

.content-top {

    min-width: 98.7vw;
    /* border-radius: 20px; */
    padding: 2rem 0rem;
    /* border: 2px solid rgb(255, 0, 0); */
    height: fit-content;
    justify-content: space-evenly;
    box-shadow: 1px 1px 9px rgb(216, 213, 213);

}

.content-top-left {
    /* border: 2px solid rgb(255, 0, 0); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 55rem;
    line-height: 27px;
    z-index: -2;
    /* border-radius: 10px; */
    color: rgb(42, 45, 48);

    /* background-color: rgb(241, 230, 129); */
    /* background-color: rgb(238, 245, 248); */
    /* box-shadow: 2px 2px 10px rgb(150, 149, 149); */
    /* border-top: 2px solid royalblue;
       border-left: 2px solid royalblue; */
}

.content-top-left p {

    padding: 1rem 5rem;
    padding-bottom: 3rem;
}

.content-top-left h1 {
    text-align: center;
    margin: 22px 0px;
    text-decoration-color: rgb(61, 61, 59);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2.5px;
}


.content-top-right {
    max-width: 7rem;
    height: 18rem;
    font-family: cursive;
}

.content-top-right h1 {
    color: rgb(65, 64, 64);
    text-align: center;
    margin: 22px 0px;
    font-weight: 100;
}



/* ***************content bottom Intro Administrations ********************/

.administration {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid rgb(0, 183, 255);  */
    max-width: 100vw;
    height: fit-content;
    margin-top: 10rem;
}

.card {
    font-weight: 300;
    margin: 1rem .5rem;
    max-width: 100%;
    width: 14rem;
    height: 18.5rem;
    padding: 5px 12px;
    /* border-radius: 5px; */
    box-shadow: .5px .5px 10px rgb(218, 215, 215);
    transition: .7s;
}

.card:hover {
    cursor: pointer;

    box-shadow: 1px 1px 15px rgb(78, 76, 76);
}

.pic img {
    margin-top: 7px;
    max-width: 14rem;
}

.card h3 {
    margin-bottom: 8px;
    font-size: 14px;
}

.card p {
    margin-bottom: 4px;
    font-size: 14px;
}

.card h3,
p {
    text-align: center;
}




/* ****************NOtice BOard*************  */

.notice-board {

    height: fit-content;
    /* border: 1px solid rgb(95, 190, 162); */
    box-shadow: 2px 2px 10px rgb(211, 211, 211);
    /* border-radius: 13px; */
    max-width: 98.4vw;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    justify-content: space-evenly;

}

.academic-notice
{
margin: auto;
width: 5rem;
 background-color: aliceblue;
 border: 1px solid black;
 text-align: center;
 padding: 1rem 1rem;
 

}
.academic-notice a{
    text-decoration: none;
    color: black;
}

#a {
    font-weight: 200;
    color: black;
    text-decoration: underline;
}

#a:hover {

    font-weight: 300;
}


.event-notice {
    width: 60rem;
    /* border: 2px solid rgb(34, 34, 32); */
    margin: 1rem 0rem;
    margin-bottom: 6rem;
    color: rgb(88, 88, 88);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.event span h3 {
    font-size: 30px;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
}

.event span {

    padding: 1rem 2rem;
    margin:0rem  1rem 0rem 1rem;
    text-align: center;
    /* background-color: rgb(97, 97, 97); */
    color: #ffffff
}

.event span h3 p {
    font-size: 12px;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
}

.event {
    margin-top: 2rem;
    
}
.event-image{
    background-repeat: no-repeat;
    border-radius: .2rem;
}
.event-image1{
    background: url(image/play1.jpg);
   background-size:100% 100%;

}
.event-image2{
    background: url(image/play2.jpg);
    
    background-size:100% 100%;
 }
 .event-image3{
    background: url(image/play3.jpg);
    background-size:100% 100%;
 }
 .event-image4{
    background: url(image/play4.jpg);
    background-size:100% 100%;
 }


#p {
    border-bottom: 2px solid rgb(83, 81, 81);
    text-align: center;
    padding: 6px 10px;
}

p a {

    color: black;
    font-weight: 500;
}


/************** Campus Area ****************/

.campus {
    /* border: 2px solid rgb(255, 0, 0); */

    margin-top: 5rem;
    max-width: 100vw;
    height: 30rem;
    height: fit-content;
    margin-bottom: .8rem;
    /* margin-bottom: 10rem; */
}

.campus-intro h2 {
    /* border: 2px solid blue; */
    width: 100%;
    color: rgb(131, 110, 73);
    font-size: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.campus-intro {

    /* border: 2px solid rgb(23, 226, 67); */
    padding: 40px 10px;
    max-width: 75rem;
    height: fit-content;
    /* border-radius: 13px; */
    box-shadow: 1px 1px 10px rgb(209, 207, 207);
}

.campus-image {
    margin: 9px 9px;

    /* border: 2px solid rgb(37, 23, 226); */
}

.campus-image p {
    position: relative;
    color: rgb(75, 75, 68);
    padding: 2px 10px;
    /* border-radius: 6px; */
    margin: auto;
    max-width: fit-content;
    text-align: center;
    z-index: 1;
    top: 240px;

}

.campus-image:hover p {
    transition: 1.2s ease-in-out;
    color: white;
    background-color: rgb(59, 56, 56);
}

.campus-image img {
    filter: grayscale(0) saturate(.7);
    max-width: 100%;
    width: 23rem;
    height: 100%;
    /* border-radius: 8px; */

}

.campus-image:hover img {
    transform: scale(.75);
    transition: 1s ease-in-out;
}

.campus-image img:hover {
    transition: .7s ease-in-out;
    filter: grayscale(0) saturate(.8);
}

.more {
    /* border:2px solid red; */
    margin-bottom: 6rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.more a {
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(63, 58, 58);
    padding: .5rem 1.7rem;
    /* border-radius: 9px; */
}

.more a:hover {
    transition: .6s;
    background-color: aliceblue;
    color: rgb(29, 27, 27);
    border: 1px solid black;
}


/* footer */


.conclusion {
    margin: auto;
    max-width: 100vw;
    height: 19rem;
    /* border: 2px solid red; */
    /* background: url(/image/1-850x567.jpg); */
    background: linear-gradient(to right white, rgb(206, 189, 189));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: saturate(2);
    /* margin-bottom: 30rem; */
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgb(212, 209, 209);
}

.conclusion::before {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    content: "Important Links";
    position: absolute;
    width: 100vw;
    text-align: center;
    height: fit-content;
    font-size: 40px;
    top: -30px;
    
    color: rgb(61, 59, 59);
}

.link-card {
    margin-top: 1rem;
    z-index: +1;
    width: 20rem;
    /* border: 2px solid greenyellow; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link-card a {
    color: rgb(15, 14, 14);
    text-decoration: none;
    text-align: center;
    /* border: 1px solid yellow; */
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: .5rem;
    font-size: .8rem;
}

.link-card a:hover {
    /* border-bottom: 2px solid rgb(185, 43, 43); */
    text-shadow: 2px 2px 12px rgb(167, 162, 162);
    transition: .6s;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: brown;
}

/* Button for sidebar nav */
.btn {

    border: none;
    width: 45px;
    height: 40px;
    text-align: center;
    display: none;
}

#btn1 {
    position: absolute;
    color: rgb(38, 157, 255);
    left: 10px;
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}

#btn2 {
    color: white;
    background-color: transparent;
    display: inline;
    position: absolute;
    left: 10px;
    top: -1px;

}

#btn1,
#btn2 {
    display: none;
}



/* light and dark mode */
.modes {
    margin-bottom: 4rem;
    /* border: 2px solid red; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    border: none;
    outline: none;
    margin: 0px 15px;
    padding: 10px 5px;
    /* border-radius: 7px; */
    font-weight: bolder;
}

.button:hover {
    cursor: pointer;
}

#light {
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgb(117, 117, 117);
}

#dark {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 10px aliceblue;
    /* background-color: rgb(20, 20, 20); */
}







/*Responsie*/
@media screen and (max-width:1180px) {
  

    .class-notice {
        height: fit-content;
    }
}

@media screen and (max-width:1055px) {


    .content-top-left p {

        padding: 3%;
        font-size: 80%;
    }

    .logo img {
        height: 8vw;
    }

    .content h1 {
        font-size: 3.1vw;
    }

    .title h1 {
        font-size: 3.1vw;
    }

    .title h2 {
        font-size: 2.3vw;
    }

    .title h3 {
        font-size: 1.6vw;
    }

    nav a {
        font-size: 80%;
    }



    .content-top-right {
        height: 5rem;
    }

    .bg img {
        max-height: 30rem;
    }

    .card h3,
    p {
        font-size: 70%;
    }

    .card {
        width: 26vw;
        height: fit-content;
        margin: 1rem 2rem;
    }

    .pic img {
        min-width: 100%;
        width: 26vw;
    }

    .class-notice ul a {
        font-size: 70%;
    }

    .campus-image p {
        font-size: 16px;
    }

    .link-card a {
        font-size: 70%;
    }


}



  /* arrow resp */
@media screen and (max-width:780px) {

    .title h1 {
        font-size: 3.45vw;
    }

    .title h2 {
        font-size: 2.45vw;
    }

    .title h3 {
        font-size: 1.7vw;
    }

    .top {
        flex-direction: column;
        
    }
    .top::after
    {
        max-height: 11.5rem;
        height: 100%;
    }
    .title {
        width: 100vw;
    }

    .logo {
        /* border: 2px solid red; */
        width: 100vw;
        display: flex;
        justify-content: center;
    }

   
    

}


@media screen and (max-width:650px) {
    .bg img {
        max-height: 25rem;
    }

    .content-top-left p {
        font-size: 60%;
        padding: 1.0%;
        line-height: 19px;
    }

    .card h3,
    p {
        font-size: 50%;
    }

    .link-card a {
        font-size: 60%;
    }
    .card{
        width: 12rem;
        margin:1rem;
    }

}

@media screen and (max-width:530px) {

    .title h1,
    h2,
    h3 {
        font-weight: bolder;
    }

   
        .card p {

        font-size: 50%;
       
    }
    .card{
        width:10rem;
        margin:.5rem;
    }
    .administration{
        margin-top: 5rem;
    }

}

@media screen and (max-width:658px) {

    nav {

        flex-direction: column;
        max-height:15rem;
    }
#home{
    margin-left:2rem;
   
    }
    
    .dropdown-menu {
        margin: 20px 0px;
    }

    .nav1 {
        height: 14rem;
        position: absolute;
        z-index: -1;
        top: -36rem;
        transition: .5s linear;
        /* display: none; */
    }

    .content {
        z-index: -1;
        margin-top: 3rem;
    }

    #btn1,
    #btn2 {
        display: block;
    }


}
